In [ ]:
import pandas as pd

In [2]:

dataframe = pd.read_csv('ca-2022-02.csv', sep=';')
dataframe

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA ADITIVADA,01/07/2022,"7,48",NaN,R$ / litro,VIBRA ENERGIA
1,SE,ES,COLATINA,SAO FRANCISCO DE ASSIS COMERCIO DE COMBUSTIVEI...,08.519.545/0001-10,PRACA FIDELIS FERRARI,35,NaN,LACE,29703-030,GASOLINA,01/07/2022,"7,38",NaN,R$ / litro,VIBRA ENERGIA
2,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,DIESEL S10,01/07/2022,"7,69",NaN,R$ / litro,VIBRA ENERGIA
3,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,ETANOL,01/07/2022,"5,99",NaN,R$ / litro,VIBRA ENERGIA
4,SE,ES,COLATINA,POSTO MOTOCAP LTDA,04.814.652/0001-10,PRACA ALMIRANTE BARROSO,52,LETRA A,LACE,29703-055,GASOLINA,01/07/2022,"7,39",NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378073,S,SC,BLUMENAU,POSTO DE COMBUSTIVEIS MAX LTDA,31.603.614/0001-91,RUA BENJAMIN CONSTANT,1320,NaN,ESCOLA AGRICOLA,89037-500,GASOLINA,30/12/2022,"5,04",NaN,R$ / litro,MAXSUL
378074,S,SC,BLUMENAU,POSTO DE COMBUSTIVEIS MAX LTDA,31.603.614/0001-91,RUA BENJAMIN CONSTANT,1320,NaN,ESCOLA AGRICOLA,89037-500,DIESEL S10,30/12/2022,"6,19",NaN,R$ / litro,MAXSUL
378075,S,SC,BLUMENAU,REDE DE POSTOS R4 LTDA,03.283.593/0006-43,RUA DAS MISSOES,2426,NaN,NOVA ESPERANCA,89051-305,GASOLINA ADITIVADA,30/12/2022,"5,31",NaN,R$ / litro,VIBRA ENERGIA
378076,S,SC,BLUMENAU,REDE DE POSTOS R4 LTDA,03.283.593/0006-43,RUA DAS MISSOES,2426,NaN,NOVA ESPERANCA,89051-305,GASOLINA,30/12/2022,"5,11",NaN,R$ / litro,VIBRA ENERGIA
378077,S,SC,BLUMENAU,FISCHER COMBUSTIVEL EIRELI,31.713.751/0002-60,RUA SETE DE SETEMBRO,780,POSTO,CENTRO,89010-200,GASOLINA,30/12/2022,"5,09",NaN,R$ / litro,IPIRANGA

In [5]:
# Usado para contar o número de valores nulos em cada coluna do DataFrame. 

dataframe.isnull().sum()

Regiao - Sigla            0
Estado - Sigla            0
Municipio                 0
Revenda                   0
CNPJ da Revenda           0
Nome da Rua               0
Numero Rua              176
Complemento          296814
Bairro                  901
Cep                       0
Produto                   0
Data da Coleta            0
Valor de Venda            0
Valor de Compra      378078
Unidade de Medida         0
Bandeira                  0
dtype: int64

In [3]:
#Salvar a lista com dados nulos em uma variável, para depois que tratar os dados verificar se foram substituídos

dataframe_nulos = dataframe[dataframe.isnull().T.any()].index

In [4]:
# O código seleciona as linhas em que a coluna 'Numero Rua' possui valores nulos e retorna os valores correspondentes nessa coluna.

dataframe.loc[dataframe['Numero Rua'].isnull(), 'Numero Rua']

2814      NaN
2815      NaN
2816      NaN
2817      NaN
10038     NaN
         ...
374460    NaN
376963    NaN
376964    NaN
376965    NaN
376966    NaN
Name: Numero Rua, Length: 176, dtype: object

In [7]:
#Isso atribuirá o valor 'Sem Numero' à coluna 'Numero Rua' nas linhas onde a coluna 'Numero Rua' é nula.

dataframe.loc[dataframe['Numero Rua'].isnull(), 'Numero Rua'] = 'Sem Numero'

In [8]:
#Verificando se foi substituído na tabela

dataframe.isnull().sum()

Regiao - Sigla            0
Estado - Sigla            0
Municipio                 0
Revenda                   0
CNPJ da Revenda           0
Nome da Rua               0
Numero Rua                0
Complemento          296814
Bairro                  901
Cep                       0
Produto                   0
Data da Coleta            0
Valor de Venda            0
Valor de Compra      378078
Unidade de Medida         0
Bandeira                  0
dtype: int64

In [9]:
#Isso atribuirá o valor 'Nao Informado' à coluna ' Bairro' nas linhas onde a coluna Bairro' é nula.


dataframe.loc[dataframe['Bairro'].isnull(), 'Bairro'] = 'Nao Informado'

In [10]:
#Verificando se foi substituído na tabela

dataframe.isnull().sum()

Regiao - Sigla            0
Estado - Sigla            0
Municipio                 0
Revenda                   0
CNPJ da Revenda           0
Nome da Rua               0
Numero Rua                0
Complemento          296814
Bairro                    0
Cep                       0
Produto                   0
Data da Coleta            0
Valor de Venda            0
Valor de Compra      378078
Unidade de Medida         0
Bandeira                  0
dtype: int64

In [11]:
#Isso atribuirá o valor 'Nao Informado'à coluna' Complemento' nas linhas onde a coluna 'Complemento' é nula.


dataframe.loc[dataframe['Complemento'].isnull(), 'Complemento'] = 'Nao Informado'

In [13]:
#Verificando se foi substituído na tabela

dataframe.isnull().sum()

Regiao - Sigla            0
Estado - Sigla            0
Municipio                 0
Revenda                   0
CNPJ da Revenda           0
Nome da Rua               0
Numero Rua                0
Complemento               0
Bairro                    0
Cep                       0
Produto                   0
Data da Coleta            0
Valor de Venda            0
Valor de Compra      378078
Unidade de Medida         0
Bandeira                  0
dtype: int64

In [62]:
#Isso imprimirá a contagem de valores nulos na coluna 'Valor de Compra'

dataframe['Valor de Compra'].isnull().sum()

378078

In [63]:
#sso imprimirá o número total de linhas no seu DataFrame

dataframe.shape[0]

378078

In [61]:
dataframe.shape[0]

378078

# A Coluna 'Valor de Compra' foi excluída pois só existe números nulos nela

In [64]:
del dataframe['Valor de Compra']

# Nenhum dado nulo, Podemos começar a análise!

In [65]:
dataframe.isnull().sum()

Regiao - Sigla       0
Estado - Sigla       0
Municipio            0
Revenda              0
CNPJ da Revenda      0
Nome da Rua          0
Numero Rua           0
Complemento          0
Bairro               0
Cep                  0
Produto              0
Data da Coleta       0
Valor de Venda       0
Unidade de Medida    0
Bandeira             0
dtype: int64