# Atividade 03 - 09/11/23

Documentação Numpy: https://numpy.org/doc/stable/

Enviar este arquivo preenchido com as respostas e o nome do aluno para o e-mail: profbrunorespostas1@gmail.com e assunto: AD2303

Prazo: 14/11/23

Pontos: 20

### Orientações

- Usar apenas a biblioteca pandas para responder as questões desta atividade;
- Utilizar o dataset disponibilizado no Google Sala de Aula com o título: DATASET - ATIVIDADE PANDAS - 01;
- O dataset trata de aparições de ovnis pelo mundo e foi retirado da plataforma Kaggle.

In [2]:
#Substituir nome do aluno aqui
print("Luiz Felipe Silva de Oliveira")

Luiz Felipe Silva de Oliveira

In [132]:
import pandas as pd

### Questão 1

Imprimir apenas as 15 primeiras linhas do dataset.

In [133]:
dataframe = pd.read_csv('ufo.csv')
dataframe.head(15)

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...
5,5,1961-10-10 19:00:00,4/27/2007,1961,10,19,Autumn,USA,United States,Tennessee,Bristol,36.595000,-82.188889,Sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...
6,6,1965-10-10 21:00:00,2/14/2006,1965,10,21,Autumn,GBR,United Kingdom,Wales,Penarth,51.434722,-3.180000,Circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...
7,7,1965-10-10 23:45:00,10/2/1999,1965,10,23,Autumn,USA,United States,Connecticut,Norwalk,41.117500,-73.408333,Disk,1200.0,20 minutes,A bright orange color changing to reddish colo...
8,8,1966-10-10 20:00:00,3/19/2009,1966,10,20,Autumn,USA,United States,Alabama,Harrisburg,33.586111,-86.286111,Disk,180.0,3 minutes,Strobe Lighted disk shape object observed clos...
9,9,1966-10-10 21:00:00,5/11/2005,1966,10,21,Autumn,USA,United States,Florida,Live Oak,30.294722,-82.984167,Disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...
10,10,1968-10-10 13:00:00,10/31/2003,1968,10,13,Autumn,USA,United States,California,Hawthorne,33.916389,-118.351667,Circle,300.0,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...
11,11,1968-10-10 19:00:00,6/12/2008,1968,10,19,Autumn,USA,United States,North Carolina,Franklin Park,35.233333,-82.734444,Fireball,180.0,3 minutes,silent red /orange mass of energy floated by t...
12,12,1970-10-10 16:00:00,5/11/2000,1970,10,16,Autumn,USA,United States,New York,Nassau County,40.668611,-73.527500,Disk,1800.0,30 min.,silver disc seen by family and neighbors
13,13,1970-10-10 19:00:00,2/14/2008,1970,10,19,Autumn,USA,United States,Kentucky,Manchester,37.153611,-83.761944,Unknown,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...
14,14,1971-10-10 21:00:00,2/14/2010,1971,10,21,Autumn,USA,United States,North Carolina,South Cecil,35.823889,-80.253611,Oval,30.0,30 seconds,green oval shaped light over my local church&#...

### Questão 2

Imprimir apenas as aparições que ocorreram no ano de 2014.

In [143]:
dataframe[dataframe.Year == 2014]

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
7612,7612,2014-01-10 06:00:00,1/16/2014,2014,1,6,Winter,USA,United States,California,Placentia,33.872222,-117.869444,Rectangle,60.0,~1 minute,EXTRATERRESTRIAL MULTICOLOR SPACECRAFT OVER GO...
7613,7613,2014-01-10 06:15:00,1/16/2014,2014,1,6,Winter,USA,United States,Texas,El Paso,31.758611,-106.486389,Circle,120.0,~2 minutes,Single round&#44 reddish yellowish&#44 greenis...
7614,7614,2014-01-10 06:30:00,1/10/2014,2014,1,6,Winter,USA,United States,Colorado,Coal Creek,38.361111,-105.147778,Sphere,1200.0,20 minutes,Large&#44 yellowish white reflective sphere wi...
7615,7615,2014-01-10 09:57:00,2/14/2014,2014,1,9,Winter,USA,United States,Connecticut,Parkville,41.763611,-72.685556,Flash,120.0,2 minute,((HOAX??)) While i was watching a movie a whit...
7616,7616,2014-01-10 16:30:00,1/16/2014,2014,1,16,Winter,GBR,United Kingdom,England,Barrowford,53.845000,-2.204000,Light,900.0,15 minutes,A light hovered down the hill at a ridiculous ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46150,46150,2014-05-07 21:10:00,5/8/2014,2014,5,21,Spring,USA,United States,Connecticut,Naugatuck,41.485833,-73.051111,Unknown,300.0,5 minutes,Large formation of lights in western sky&#44 f...
46151,46151,2014-05-07 21:20:00,5/8/2014,2014,5,21,Spring,USA,United States,Missouri,Hillsboro,38.232222,-90.562778,Fireball,360.0,4-6 minutes,Round slow moving silent ball looked like a ca...
46152,46152,2014-05-07 23:30:00,5/8/2014,2014,5,23,Spring,USA,United States,New Mexico,San Ysidro,35.563363,-106.770591,Unknown,15.0,15 seconds,2 red lights gliding across sky&#44 then green...
46298,46298,2014-05-08 00:00:00,5/8/2014,2014,5,0,Spring,USA,United States,Tennessee,Lauderdale Courts,35.149444,-90.048889,Rectangle,900.0,15 minutes,Standing at my window around 0:00 brilliantly ...
46299,46299,2014-05-08 18:45:00,5/8/2014,2014,5,18,Spring,AUS,Australia,Victoria,Inverloch,-38.626591,145.722595,Light,300.0,5 minutes,Bright orange light travelling above inverloch...

### Questão 3

Imprimir apenas as aparições que ocorreram no ano de 2011 e no Brasil (Country_Code)

In [144]:
dataframe[(dataframe.Year == 2011) & (dataframe.Country_Code == 'BRA')]

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
45777,45777,2011-05-05 23:50:00,5/12/2011,2011,5,23,Spring,BRA,Brazil,Rio Grande do Sul,Dom Feliciano,-30.701054,-52.106879,Light,60.0,1 minute,On 05/05/2011 at exactly 23 hours and 53 minut...
51551,51551,2011-06-24 02:00:00,6/27/2011,2011,6,2,Summer,BRA,Brazil,Alagoas,Maceió,-9.649849,-35.708949,Oval,1800.0,15-30 min,They were flying over the sea&#44 in various d...
59303,59303,2011-07-23 18:00:00,5/15/2013,2011,7,18,Summer,BRA,Brazil,São Paulo,Embu das Artes,-23.651508,-46.852186,Circle,36000.0,10 hours,Brazil UFO televised explanation thousands of ...

### Questão 4

Imprimir as aparições que ocorreram no Estado do Rio Grande do Norte ou da Paraíba (Region).

In [145]:
dataframe[(dataframe.Region == 'Rio Grande do Norte') | (dataframe.Region == 'Paraíba')]

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
16094,16094,2007-01-18 23:50:00,2/24/2007,2007,1,23,Winter,BRA,Brazil,Paraíba,João Pessoa,-7.119496,-34.845012,Triangle,20.0,20 seconds,Woman witnesses peculiar triangular craft move...
33313,33313,2007-03-24 22:45:00,4/27/2007,2007,3,22,Spring,BRA,Brazil,Paraíba,João Pessoa,-7.119496,-34.845012,Cross,60.0,1 min or less,2 amber orange cross-shaped flying objects

### Questão 5

Imprimir as aparições que ocorreram entre os anos de 2000 e 2014 nos Estados Unidos.

In [146]:
dataframe[(dataframe['Year'].between(2000, 2014)) & (dataframe['Country_Code'] == 'USA')]

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
93,93,2000-10-10 03:00:00,12/2/2000,2000,10,3,Autumn,USA,United States,Missouri,Perryville,37.724167,-89.861111,Oval,180.0,3 minutes,The craft was big&#44 orange&#44 and oval shaped.
94,94,2000-10-10 06:15:00,12/2/2000,2000,10,6,Autumn,USA,United States,Florida,Boynton Beach,26.525000,-80.066667,Other,10.0,10 seconds,Unusual light formation moving extremely fast ...
96,96,2000-10-10 16:00:00,12/2/2000,2000,10,16,Autumn,USA,United States,Wisconsin,Juneau,43.405550,-88.705104,Triangle,45.0,45 seconds,5 bight light V shaped
97,97,2000-10-10 20:20:00,12/2/2000,2000,10,20,Autumn,USA,United States,Missouri,Saint Louis,38.627003,-90.199404,Oval,15.0,15 seconds,Driving on Hyw.141 at Hyw. 44 and going East&#...
98,98,2000-10-10 20:30:00,12/2/2000,2000,10,20,Autumn,USA,United States,Missouri,Brinktown,38.126667,-92.084444,Light,1800.0,30 min.,3 bright golden lights moving independently ab...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80323,80323,2013-09-09 21:15:00,9/30/2013,2013,9,21,Autumn,USA,United States,Tennessee,Nashville,36.165833,-86.784444,Light,600.0,10 minutes,Round from the distance/slowly changing colors...
80324,80324,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,Idaho,Boise,43.613611,-116.202500,Circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325,80325,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,California,Napa Abajo,38.297222,-122.284444,Other,1200.0,hour,Napa UFO&#44
80326,80326,2013-09-09 22:20:00,9/30/2013,2013,9,22,Autumn,USA,United States,Virginia,Vienna,38.901111,-77.265556,Circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...
80327,80327,2013-09-09 23:00:00,9/30/2013,2013,9,23,Autumn,USA,United States,Oklahoma,Edmond,35.652778,-97.477778,Cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...

### Questão 6

Imprimir todas aparições que ocorreram no ano de 2010 e que não foram no formato de Triângulo (UFO_shape)

In [162]:
dataframe[(dataframe['Year'] == 2010 ) & (dataframe['UFO_shape'] != ' Triangle')]

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
212,212,2010-10-10 01:00:00,1/5/2011,2010,10,1,Autumn,USA,United States,New York,Village of Orchard Park,42.767500,-78.744167,Light,7200.0,a few hours,Xmas colored rotating lights. ((NUFORC Note: ...
213,213,2010-10-10 02:30:00,11/21/2010,2010,10,2,Autumn,USA,United States,Pennsylvania,Hillside Village,40.273611,-76.884722,Circle,240.0,4 minutes,possible UFO sighting
214,214,2010-10-10 03:00:00,11/21/2010,2010,10,3,Autumn,USA,United States,Ohio,Euclid,41.593056,-81.526944,Circle,180.0,3 minutes,2 objects blinking red and white&#44 disappear...
215,215,2010-10-10 08:30:00,11/21/2010,2010,10,8,Autumn,USA,United States,South Carolina,Starr,34.376944,-82.695833,Formation,600.0,5-10 mins,Strange orange lights in the night sky
216,216,2010-10-10 12:00:00,11/21/2010,2010,10,12,Autumn,USA,United States,Connecticut,Greenwich,41.026389,-73.628889,Light,240.0,4 mins,&quot;Star&quot; like objects during clear day...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80265,80265,2010-09-09 21:30:00,11/21/2010,2010,9,21,Autumn,USA,United States,Michigan,Brighton,42.529444,-83.780278,Changing,300.0,3-5 minutes,Glittery random lights near each other&#44 rea...
80266,80266,2010-09-09 22:00:00,11/21/2010,2010,9,22,Autumn,USA,United States,Florida,Gainesville,29.651389,-82.325000,Oval,2700.0,45 min,2nd night watching the objects&#44 approximate...
80267,80267,2010-09-09 22:00:00,11/21/2010,2010,9,22,Autumn,USA,United States,Florida,Gainesville,29.651389,-82.325000,Oval,7200.0,2+ hrs,Multiple sightings by multiple whitnesses&#44 ...
80268,80268,2010-09-09 22:00:00,11/21/2010,2010,9,22,Autumn,USA,United States,New Mexico,Lemitar,34.159722,-106.909722,Fireball,300.0,3 to 5 mins,orange lights in the southeastern sky in New M...
80269,80269,2010-09-09 23:19:00,11/21/2010,2010,9,23,Autumn,USA,United States,California,North Ontario,34.097500,-117.647500,Circle,300.0,3-5 min,It appeared to be an orange round object movin...

### Questão 7

Imprimir as aparições que ocorreram entre as datas 01/01/2011 e 30/07/2011 (utilizando a coluna Date_time).

Obs.: Pesquisar como converter os textos da coluna Date_time para o formato correto de data no Pandas, para que se possa realizar os cálculos.

In [164]:

dataframe['Date_time'] = pd.to_datetime(dataframe['Date_time'], errors='coerce')

In [169]:

dataframe[(dataframe['Date_time'] >= '01/01/2011') & (dataframe['Date_time'] <= '30/07/2011')]

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
7577,7577,2011-01-10 05:30:00,1/31/2011,2011,1,5,Winter,USA,United States,California,O'Neals,37.128333,-119.693333,Light,180.0,3 minutes,Solid white light spotted at dusk&#44 flying a...
7578,7578,2011-01-10 07:00:00,1/31/2011,2011,1,7,Winter,USA,United States,Illinois,Kinsman,41.189722,-88.569444,Rectangle,2.0,seconds,Black square/rectangular 3 dimensional object ...
7579,7579,2011-01-10 09:45:00,1/31/2011,2011,1,9,Winter,USA,United States,California,San Diego,32.915556,-117.143056,Cylinder,900.0,15 mins,Cylindrical object in sky over Mira Mesa
7580,7580,2011-01-10 11:10:00,10/10/2011,2011,1,11,Winter,GBR,United Kingdom,England,Wichling,51.250000,0.750000,Disk,300.0,5 minutes,The area it went into a vertical climb was whe...
7581,7581,2011-01-10 17:15:00,1/31/2011,2011,1,17,Winter,AUS,Australia,New South Wales,Sydney,-33.861481,151.205475,Light,10.0,10 seconds,white lights dipping&#44 diving over Sydney
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64067,64067,2011-07-09 22:30:00,1/12/2012,2011,7,22,Summer,USA,United States,Montana,Butte,46.003889,-112.533889,Other,600.0,10 min,The Richest Hill on Earth gets scanned
64068,64068,2011-07-09 22:30:00,7/17/2011,2011,7,22,Summer,USA,United States,California,San Fernando,34.281944,-118.438056,Oval,2.0,2 sec,WHITE LIGHT OVER SAN FERNANDO EXPLODES WHILE M...
64069,64069,2011-07-09 22:45:00,7/17/2011,2011,7,22,Summer,USA,United States,Missouri,West Joplin,37.084167,-94.513056,Light,120.0,1-2 minutes,Orange ball moving above Joplin&#44 MO
64070,64070,2011-07-09 22:53:00,7/17/2011,2011,7,22,Summer,USA,United States,Indiana,Columbia City,41.157222,-85.488333,Light,60.0,approximately 1 minute,a light appeared and slowly moved with a zigza...
64071,64071,2011-07-09 23:00:00,7/17/2011,2011,7,23,Summer,USA,United States,Wisconsin,Wisconsin Dells,43.627500,-89.770833,Sphere,7.0,7 seconds,5 orange orbs headind north at a good clip&#44...

### Questão 8

Imprimir a quantidade de aparições que ocorreram por cada país.

Obs.: Pesquisar sobre agrupamento através da função groupby() e como contar através da função count().

In [204]:
dataframe['Date_time'] = pd.to_datetime(dataframe['Date_time'], errors='coerce')
count_by_country = dataframe.groupby('Country')['Date_time'].count().reset_index()
count_by_country.rename(columns={'Date_time': 'Quantidade de Aparições'}, inplace=True)
(count_by_country)

         Country  Quantidade de Aparições
0    Afghanistan                       11
1        Albania                        2
2        Algeria                        1
3      Argentina                       23
4        Armenia                        3
..           ...                      ...
146   Uzbekistan                        3
147    Venezuela                       26
148      Vietnam                       20
149       Zambia                        2
150     Zimbabwe                        7

[151 rows x 2 columns]

### Questão 9

Utilizando a questão anterior, imprimir ordenando do país com maior aparições para o com menor.

In [206]:
count_by_country = dataframe.groupby('Country')['Date_time'].count().reset_index()
count_by_country.rename(columns={'Date_time': 'Quantidade de Aparições'}, inplace=True)
count_by_country = count_by_country.sort_values(by='Quantidade de Aparições', ascending=False)
(count_by_country)

            Country  Quantidade de Aparições
144   United States                    70878
24           Canada                     3592
143  United Kingdom                     2348
5         Australia                      630
60            India                      226
..              ...                      ...
2           Algeria                        1
41      El Salvador                        1
23         Cameroon                        1
22         Cambodia                        1
135           Tonga                        1

[151 rows x 2 columns]

### Questão 10

Utilizando a questão anterior, retornar apenas os 5 países com as maiores quantidades de aparições.

In [199]:
count_by_country.rename(columns={'Date_time': 'Quantidade de Aparições'}, inplace=True)
count_by_country = count_by_country.sort_values(by='Quantidade de Aparições', ascending=False)
top_5_countries = count_by_country.head(5)
(top_5_countries)

            Country  Quantidade de Aparições
144   United States                    70878
24           Canada                     3592
143  United Kingdom                     2348
5         Australia                      630
60            India                      226